# 忽略依赖包
node_modules/
backend/venv/
backend/__pycache__/

# 忽略系统文件
.DS_Store
Thumbs.db

# 忽略环境配置
.env

# 忽略打包产物
dist/


# 忽略环境配置
.env
.DS_Store
__pycache__/

venv/
.env
node_modules/
frontend/node_modules/
frontend/dist/
.DS_Store